[Match]
Name=wlan0

[Network]
DHCP=ipv4
IPv6AcceptRA=yes

[DHCPv4]
RouteMetric=1024

[IPv6AcceptRA]
RouteMetric=1024

[DHCPv6]
RouteMetric=1024

[Link]
RequiredForOnline=no
