[Unit]
Before=network-pre.target
Wants=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/cni-masquerade-rules.nft

[Install]
WantedBy=multi-user.target
