defaults
        timeout connect 3s
        timeout client  9s
        timeout server  9s

listen website
        bind *:80,*:443
        mode tcp
        default-server inter 1s check port 443
        server hbox1 hbox1.atmtc.eu
        server hbox2 hbox2.atmtc.eu
        server hbox3 hbox3.atmtc.eu

listen leafwiki
        bind *:9000
        mode tcp
        default-server inter 1s check port 9000
        server hbox1 hbox1.atmtc.eu
        server hbox2 hbox2.atmtc.eu
        server hbox3 hbox3.atmtc.eu

listen minecraft
        bind *:15857
        mode tcp
        default-server inter 1s check port 15857
        server hbox1 hbox1.atmtc.eu
        server hbox2 hbox2.atmtc.eu
        server hbox3 hbox3.atmtc.eu
